<div th:fragment="addNews">
    <div class="modal fade" id="addNews" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="text-center split right modal-body">
                    <form method="post" action="/news" enctype="multipart/form-data">
                        <div>
                            <textarea class="form-control mb-3" name="title" id="title" placeholder="Title"></textarea>
                        </div>
                        <div class="mb-3">
                            <input type="url" class="form-control" name="image" id="image" placeholder="Image url">
                        </div>
                        <!--                        <div class="custom-file mb-3">-->
                        <!--                            <label class="custom-file-label" for="image" id="image-label">Select image</label>-->
                        <!--                            <input type="file" name="image" class="custom-file-input" id="image"-->
                        <!--                                   onchange="getFileName('image')">-->
                        <!--                        </div>-->
                        <div class="mb-3">
                            <input type="url" class="form-control" name="sourceURL" id="sourceURL" placeholder="Source url">
                        </div>
                        <div class="mb-3">
                            <select name="sourceName" id="sourceName" class="form-select">
                                <option selected>Choose the source</option>
                                <option value="espn">ESPN</option>
                                <option value="andscape">AndScape</option>
                            </select>
                        </div>
<!--                        <div class="custom-file mb-3">-->
<!--                            <label class="custom-file-label" for="sourceLogo" id="sourceLogo-label">Select source-->
<!--                                logo</label>-->
<!--                            <input type="file" name="sourceLogo" class="custom-file-input" id="sourceLogo"-->
<!--                                   onchange="getFileName('sourceLogo')">-->
<!--                            &lt;!&ndash;                            <select class="form-select" id="js-select2">&ndash;&gt;-->
<!--                            &lt;!&ndash;                                <option value="ESPN" selected>ESPN</option>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                <option value="ANDSCAPE">ANDSCAPE</option>&ndash;&gt;-->
<!--                            &lt;!&ndash;                            </select>&ndash;&gt;-->
<!--                        </div>-->
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>