<div th:fragment="addNews">
    <div class="modal fade" id="addNews" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="text-center split right modal-body">
                    <form method="post" action="/news" enctype="multipart/form-data">
                        <div>
                            <textarea class="form-control mb-3" name="title" id="title" placeholder="Title"></textarea>
                        </div>
                        <div class="custom-file mb-3">
                            <label class="custom-file-label" for="image" id="image-label">Select image</label>
                            <input type="file" name="image" class="custom-file-input" id="image"
                                   onchange="getFileName('image')">
                        </div>
                        <div class="mb-3">
                            <input type="url" class="form-control" name="source" id="source" placeholder="Source url">
                        </div>
                        <div class="custom-file mb-3">
<!--                            <label class="custom-file-label" for="sourceLogo" id="sourceLogo-label">Select source-->
<!--                                logo</label>-->
<!--                            <input type="file" name="sourceLogo" class="custom-file-input" id="sourceLogo"-->
<!--                                   onchange="getFileName('sourceLogo')">-->
                            <select class="form-select" id="js-select2">
<!--                                <option selected>Choose the source logo</option>-->
                                <option value="ESPN" selected>ESPN</option>
                                <option value="ANDSCAPE">ANDSCAPE</option>
                            </select>
<!--                            <select id="js-select2" style="width: 200px;">-->
<!--                                <option value="Spain" selected>Spain</option>-->
<!--                                <option value="United_Kingdom">United Kingdom</option>-->
<!--                            </select>-->
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>